<div class="box sidemenu" style="height: 524px">
	<div class="block" id="section-menu">
		<ul class="section menu">
			<li>
				<a class="menuitem">課程管理</a>
				<ul class="submenu">
					<li>
						<a href="/admin/lessons/new">新增課程</a>
					</li>
					<li>
						<a href="/admin/lessons">瀏覽課程</a>
					</li>

				</ul>
			</li>
			<li>
				<a class="menuitem">課程分類管理</a>
				<ul class="submenu">
					<li>
						<a href="/admin/lessoncates/new">新增課程分類</a>
					</li>
					<li>
						<a href="/admin/lessoncates">瀏覽課程分類</a>
					</li>

				</ul>
			</li>
			<li>
				<a class="menuitem">講師管理</a>
				<ul class="submenu">
					<li>
						<a href="/admin/consultants/new">新增講師</a>
					</li>
					<li>
						<a href="/admin/consultants">瀏覽講師</a>
					</li>

				</ul>
			</li>

		</ul>
	</div>
</div>