<div id="page_menubar">
		<div id="page_content_menu">
			<nav>
			<a href="http://www.playplus.com.tw/building/topzone/index.php"><%= image_tag("topzone_logo.png")%></a>
				<ul>
					<li><a href="http://playplus.com.tw/building/topzone/index.php">首頁</a></li>
					<li><a href="http://playplus.com.tw/building/topzone/about-us.php">關於中拓</a></li>
					<li><a href="#">服務項目</a>
						<ul>
							<li><a href="#">終身學習</a></li>
							<li><a href="#">企業訓練</a></li>
							<li><a href="#">顧問團隊</a></li>
							<li><a href="#">策略聯盟</a></li>
						</ul>
					</li>

					<li><a href="#">顧問團隊</a></li>
					<li><a href="http://playplus.com.tw/building/topzone/contact-us.php">聯絡我們</a></li>
					<li><a href="#">Like Us:<%= image_tag("follow-us-facebook.png")%></a></li>
				</ul>
			</nav>
		</div>
	</div>